<%- include('../partials/head.ejs')%>

<div class="login-container">
  <div class="login-content">
    <p>Register</p>
    <form action="" method="POST">
      <label for="name">Your Name</label>
      <input type="text" name="name" />
      <label for="email">Email Adress</label>
      <input required type="email" name="email" />
      <label for="email">Password</label>
      <input required type="password" name="password" />
      <input class="input-btn" type="submit" value="Sign In" />
    </form>
    <span> Already have an account? <a href="/login">Login.</a></span>
  </div>
</div>
<%- include('../partials/footer.ejs')%>
