  <script>
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");
      let search = document.querySelector(".bx-search");

      btn.onclick = () => {
        sidebar.classList.toggle("active");
      };
      search.onclick = () => {
        sidebar.classList.toggle("active");
      };
    </script>
  </body>
</html>