<div class="sidebar">
  <div class="logo-content">
    <div class="logo">
      <i class="bx bx-play"></i>
      <p>Zaldee Music</p>
    </div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
      </a>
    </li>
    <li>
      <a href="/">
        <i class="bx bx-home"></i>
        <span class="links-name">Home</span>
      </a>
    </li>
    <li>
      <a href="/songs">
        <i class="bx bx-music"></i>
        <span class="links-name">Songs</span>
      </a>
    </li>
    <li>
      <a href="/albums">
        <i class="bx bx-album"></i>
        <span class="links-name">Album</span>
      </a>
    </li>
    <li>
      <a href="/artis">
        <i class="bx bx-microphone"></i>
        <span class="links-name">Artists</span>
      </a>
    </li>
  </ul>
</div>
