<%- include('partials/head.ejs')%> <%- include('partials/sidebar.ejs')%>
<div class="home-content home-pad">
  <h1 class="title">Albums</h1>
  <div class="albums-container">
    <div class="albums-left-container">
      <div class="album-content">
        <div class="album-title">
          <h1>Alan Walker</h1>
          <span>Lorem ipsum dolor sit amet.</span>
        </div>
        <div class="album-image">
          <img src="/static/images/PngItem_2708420.png" alt="" />
        </div>
      </div>
    </div>
    <div class="albums-right-container">
      <h1>Now Trending</h1>
      <div class="suggestion-image suggest">
        <img
          src="https://images.unsplash.com/photo-1593160870694-89655e8224a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=799&q=80"
          alt=""
        />
        <div class="artis-name">
          <p>Nikita Valerie</p>
          <span>Doomsday</span>
        </div>
        <div class="icons-wrap">
          <small>05:18</small>
          <i class="bx bx-star"></i>
          <i class="bx bx-play-circle"></i>
        </div>
      </div>
      <div class="suggestion-image suggest">
        <img
          src="https://images.unsplash.com/photo-1527735095040-147bffb4cede?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=765&q=80"
          alt=""
        />
        <div class="artis-name">
          <p>Mark Villain</p>
          <span>Revenge</span>
        </div>
        <div class="icons-wrap">
          <small>03:39</small>
          <i class="bx bx-star"></i>
          <i class="bx bx-play-circle"></i>
        </div>
      </div>
      <div class="suggestion-image suggest">
        <img
          src="https://images.unsplash.com/photo-1460723237483-7a6dc9d0b212?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
        />
        <div class="artis-name">
          <p>Justin Bieber</p>
          <span>Ya Thoybah</span>
        </div>
        <div class="icons-wrap">
          <small>02:35</small>
          <i class="bx bx-star"></i>
          <i class="bx bx-play-circle"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-left-container">
    <h1 class="left-title">Recently Added</h1>
    <div class="bottom-content">
      <div class="bottom-left-content">
        <div class="music">
          <img
            src="https://i.pinimg.com/236x/39/72/6b/39726b817a894fdce6dd8474bb6864f5.jpg"
            alt=""
          />
          <div class="img-title">
            <p>Alan Walker</p>
            <span>Darkside</span>
          </div>
        </div>
        <div class="music">
          <img
            src="https://i.pinimg.com/236x/63/8c/ce/638cce8be30411dac89de311f1d76ed6.jpg"
            alt=""
          />
          <div class="img-title">
            <p>Starboy</p>
            <span>Cross Line</span>
          </div>
        </div>
        <div class="music">
          <img
            src="https://i.pinimg.com/236x/c6/d3/12/c6d3125b04d046d3751e90390d7ecbe2.jpg"
            alt=""
          />
          <div class="img-title">
            <p>Kiss Land</p>
            <span>The Weekend</span>
          </div>
        </div>
        <div class="music">
          <img
            src="https://i.pinimg.com/236x/1f/d2/9b/1fd29ba98076da69f251079d15725b90.jpg"
            alt=""
          />
          <div class="img-title">
            <p>Raptor</p>
            <span>Where Are You</span>
          </div>
        </div>
        <div class="music">
          <img
            src="https://i.pinimg.com/236x/59/76/ea/5976ea8aa145f44fac71822f57c12626.jpg"
            alt=""
          />
          <div class="img-title">
            <p>Raptor</p>
            <span>Parlente</span>
          </div>
        </div>
      </div>
      <div class="bottom-right-container">
        <h1>Popular Artists</h1>
        <div class="suggestion-image bottom">
          <img
            src="https://i.pinimg.com/236x/bb/19/b4/bb19b4dd41ec6062f594527a5b296975.jpg"
            alt=""
          />
          <div class="artis-name">
            <p>Ed Sheeran</p>
          </div>
        </div>
        <div class="suggestion-image bottom">
          <img
            src="https://i.pinimg.com/236x/4a/96/e7/4a96e76228520e318e9840c30f26e050.jpg"
            alt=""
          />
          <div class="artis-name">
            <p>Sam Smith</p>
          </div>
        </div>
        <div class="suggestion-image bottom">
          <img
            src="https://i.pinimg.com/236x/b0/53/2d/b0532df9406ff14b479be3a57f82ec8c.jpg"
            alt=""
          />
          <div class="artis-name">
            <p>Justin Bieber</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-left-content col-2">
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/ac/b5/9e/acb59ecc22d6c4a054837515142686c2.jpg"
        alt=""
      />
      <div class="img-title">
        <p>5SOS</p>
        <span>Young Blood</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/19/35/bf/1935bfcbe72bd063fb0515e629c09d49.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Daytona</p>
        <span>Do you Like This</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/3b/3a/bf/3b3abf8dc947816887a512f1d6baa9ba.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Black Pink</p>
        <span>Kick It</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/02/e5/66/02e566b334452e7921f61547751eb81d.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Kyre</p>
        <span>Kiss Land</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/f9/d7/b2/f9d7b28186e80b9244eb16fed2a6ffb7.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Tegan and Sara</p>
        <span>Closer</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/7b/27/0d/7b270d794bcdd158e82394fab67dbb98.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Travis Scott</p>
        <span>Hate</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/91/df/d4/91dfd4af3d3850308f524ed835896d43.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Farasha</p>
        <span>Replace You</span>
      </div>
    </div>
    <div class="music">
      <img
        src="https://i.pinimg.com/236x/60/4f/cd/604fcd321ef98965939055670ad0502f.jpg"
        alt=""
      />
      <div class="img-title">
        <p>Oriental</p>
        <span>Dho Rhong Duong</span>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs')%>
